/* Zohiu website css */

/* Variables */
/*
:root {
    --main-color: #ff4895;
    --secondary-color: #2d42ff;
    --background-color: #13111a;

    --text-color: white;
    --heading-text-color: white;
    --menu-text-color: #dddddd;
}
*/

:root {
    --main-color: #FF61A3;
    --secondary-color: #2d42ff;
    --background-color: #13111a;

    --text-color: white;
    --heading-text-color: white;

}


/* Containers */

body {
    background-color: var(--background-color)
}

.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.site {
    border: 10px solid var(--main-color);
}

.wrapper{
    position: relative;
    border: 1px solid black;
    position: absolute;
    width: 70%;
    height: 80%;
    left: 15%;
    top: 10%;
}

.foreground{
    position: relative;
}

.background{
    position: absolute;
}

/* Text */

a {
    color: inherit; 
    text-decoration: none;
} 

.text {
    font-size: 24px;
    text-align: left;
    color: var(--text-color)
}

.heading {
    font-size: 72px;
    text-align: left;
    color: var(--heading-text-color)
}

.gradient {
    background: -webkit-linear-gradient(45deg, var(--main-color), var(--secondary-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Those cool color things on the right */

@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

/* Rotation stuff + blur */

.rotate {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 35%;
    left: 60%;

    width: 200px;
    height: 200px;

    transform-origin: 50% 60%;

    animation: rotation 60s infinite linear;
    filter: blur(75px);
}

/* The actual circles */

.bg-gradient-blur-circle-1 {
position: absolute;
margin: 0 auto;
text-align: center;

transform-origin: 30% 40%;
animation: rotation 30s infinite linear;

left: 50px;
bottom: 50px;

width: 200px;
height: 200px;

border-radius: 1000000px;
background-color: mix(var(--main-color), var(--secondary-color), 50%);
}

.bg-gradient-blur-circle-2 {
position: absolute;
margin: 0 auto;
text-align: center;
transform-origin: 60% 50%;
animation: rotation 30s infinite linear;

left: 50px;

width: 250px;
height: 250px;

border-radius: 1000000px;
background-color: var(--secondary-color);
}

.bg-gradient-blur-circle-3 {
position: absolute;
margin: 0 auto;
text-align: center;
transform-origin: 55% 80%;
animation: rotation 60s infinite linear;

bottom: 25px;

width: 150px;
height: 150px;

border-radius: 1000000px;
background-color: var(--main-color);
}

